/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

/** Media alignment */
.alignnone,
.aligncenter,
.alignleft,
.alignright {
  margin-bottom: $spacer * 1.5;

  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}

.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  margin: $spacer * 1.5 auto;
  height: auto;
}

.alignleft,
.alignright {
  height: auto;
}

@include media-breakpoint-up(sm) {
  .alignleft {
    float: left;
    margin-right: $spacer * 1.5;
  }

  .alignright {
    float: right;
    margin-left: $spacer * 1.5;
  }
}

/** Captions */
.wp-caption {
  @extend .figure;
}

.wp-caption img {
  @extend .figure-img;
  @extend .img-fluid;
}

.wp-caption-text {
  @extend .figure-caption;

  line-height: 1.4;
  font-size: 0.8125rem;
}

/** Text meant only for screen readers */
.screen-reader-text {
  @extend .sr-only;
  @extend .sr-only-focusable;
}
