body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote {
  @include cp();

  @extend .blockquote;

  background-color: $gray-100;
  border: $gray-200 $border-width solid;
  margin-bottom: $paragraph-margin-bottom;
  color: $gray-700;
  clear: both;

  > *:last-child {
    margin-bottom: 0;
  }
}

ul,
ol {
  margin-bottom: $paragraph-margin-bottom;
}
